.upper-container {
  width: 100vw;
  height: 35vh;
  background-color: #764abc;
}

.login-signnup-header-container {
  position: fixed;
  top: 2px;
  color: white;
  font-size: xxx-large;
  left: 33%;
  top: 7rem;
  z-index: 2;
}
